<!DOCTYPE html>
<html lang="en">
  <title>Bücherbörse</title>
  <head>
    <link href="../static/login.css" rel="stylesheet">
  </head>
    <body>
      <div class="container">
        <h1>Melde dich an</h1>
        <form action="{{url_for('meinkonto')}}" method="POST">
          <input title="Gib deinen Benutzernamen ein" placeholder="Benutzername eingeben" type="text" name="user_name" required> <br>

          <input title="Gib deine Email Adresse ein" placeholder="Email Adresse eingeben" type="email" name="email_name" required> <br>

          <input title="Gib dein Passwort ein" placeholder="Passwort eingeben" type="password" name="password_name" required> <br>

          <button type="submit"> Anmelden </button><br>

          <a href="forgotpw.html" style="text-decoration: none;">Passwort vergessen?</a>

        </form>
      </div>
    </body>
</html>
